<main>
    <div>
        <h1>Create A New item</h1>
        <form method="post">
            {% csrf_token %}
            {% comment %} #<label for="task">Task:</label>
            <input type="text" id="task" name="task" required><br>
            <label for="due_date">Due Date:</label>
            <input type="text" id="due_date" name="due_date"><br>
            <label for="is_completed">Is Completed:</label>
            <input type="checkbox" id="is_completed" name="is_completed"><br>
            <label for="list">Select List:</label>
            <select name="list">
                {% for todo_list in todo_lists %}
                    <option value={{ todo_list }}></option>
                {% endfor %}
            </select> {% endcomment %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <p>
            <a href="{% url 'todos:todo_list_view' %}">Back to List</a>
        </p>
    </div>
</main>
