<main>
    <div>
        <h1>Create A New List</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create</button>
        </form>
        <p>
            <a href="{% url "todos:todo_list_view" %}">Back to List</a>
        </p>
    </div>
</main>
