<main>
    <div>
        <h1><a href="{% url 'todos:todo_list_view' %}">Home</a></h1>
        <h2>Update list</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
</main>
