<main>
    <div>
        <h1><a href="{% url 'todos:todo_list_view' %}">Home</a></h1>
        </h1>
        <h2>{{ todo_list.name }}</h2>
        <div>
            <div>
                <p><a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a></p>
                <p><a href="{% url 'todos:todo_list_delete' todo_list.id %}">Delete</a></p>
            </div>
        <table>
            <thead>
                <tr>
                <th style="font-size: 25px; text-align:left;">Tasks</th>
                </tr>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_items %}
                    <tr>
                        <td><a href="{% url 'todos:todo_item_update' item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date|date:"m/d/Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
