<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todos:todo_list_create' %}">Create a new list</a></p>
        <h2>
        <p><a href="{% url 'todos:todo_item_create' %}">Create a new item</a></p>
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number Of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
